{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Students</h1>
        <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">ClassRoom</th>
                    <th scope="col">Section</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr class="table-info">
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.title}}</td>
                        <td>{{student.section}}</td>
                        <td>
                            <a href="" class="btn btn-primary">Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
{% endblock %}