{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Manage Classes</h1>
        <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                    <tr class="table-info">
                        <th scope="row">{{class.id}}</th>
                        <td>{{class.title}}</td>
                        <td>{{class.section}}</td>
                        <td>
                            <a href="{{path('teacher_classes_students', {'id': class.id})}}" class="btn btn-primary">Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
{% endblock %}